<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.movaflow.app.audio-tap</string>
  <key>CFBundleName</key>
  <string>Mova Flow Audio Tap</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>Mova Flow records the call audio playing on this Mac so it can be transcribed.</string>
</dict>
</plist>
